* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dubai;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black, #a8afff);
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, .2);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1),
        0 0 10px rgba(0, 0, 0, .2),
        0 0 15px rgba(0, 0, 0, .2);
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    align-items: center;
}

.container h1 {
    color: white;
    margin-bottom: 50px;
}

.form {
    position: relative;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    margin-left: 105px;
	/* padding: 60px 40px; */
    align-items: center;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: #fff;
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.form-control input {
	background: white;
    opacity: calc(25%);
	border: 0;
	border-bottom: 1px solid #f0f0f0;
	display: block;
	width: 100%;
	padding: 10px 5px;
	font-size: 14px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.form button {
	cursor: pointer;
	background-color: #6577ff;
	border: 2px solid #ffffff;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
    font-weight: 500;
}