* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dubai;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black, #a8afff);
}

.container {
    position: relative;
    width: 95%;
    height: 95vh;
    background: rgba(255, 255, 255, .2);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1),
        0 0 10px rgba(0, 0, 0, .2),
        0 0 15px rgba(0, 0, 0, .2);
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.container .left {
    position: relative;
    width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 35px 35px 68px 0px,
        inset rgba(255, 255, 255, 0.6) -8px -8px 16px 0px,
        inset rgb(255, 255, 255) 0px 11px 28px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.container .left header {
    position: relative;
    width: 100%;
}
.container .left header .logo {
    position: relative;
    margin-bottom: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .left header .logo h2 {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #000;
}

.container .left header nav {
    position: relative;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.container .left header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.container .left header nav ul li {
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left header nav ul li a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .3s ease;
}

.container .left header nav ul li:first-child a.dashboard,
.container .left header nav ul li a:hover {
    transition: 0s;
    background: #edefff;
}

.container .left header nav ul li a::before {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background: #6577ff;
    transition: .3s ease;
}
.container .left header nav ul li:first-child a::before,
.container .left header nav ul li a:hover::before {
    width: 4px;
}

.container .left header nav ul li a .material-symbols-outlined {
    color: #999;
    font-size: 1.7em;
    margin-right: 10px;
}

.container .left header nav ul li a .title {
    color: #999;
    font-size: 1.1em;
}

.container .left header nav ul li:first-child a .material-symbols-outlined,
.container .left header nav ul li:first-child a .title,
.container .left header nav ul li a:hover .material-symbols-outlined,
.container .left header nav ul li a:hover .title {
    color: #6577ff;
}

.container .left .logout {
    position: relative;
    margin-bottom: 15px;
    padding-left: 0px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}

.container .left .logout h4 {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #000;
}

.container .right {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .right .canscroll{
    overflow-y: auto;
    height: 100%;
}

/* top start */
.container .right .top {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}

/* searchBx start */
.container .right .top .searchBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container .right .top .searchBx h2 {
    color: #000;
    font-size: 1.4em;
    cursor: pointer;
}

.container .right .top .searchBx .inputBx {
    position: relative;
    width: 250px;
    height: 40px;
    background: #f8f2fe;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    overflow: hidden;
}

.container .right .top .searchBx .input span {
    color: #999;
    cursor: pointer;
}

.container .right .top .searchBx .inputBx input {
    position: relative;
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 1.2em;
    color: #000;
}

.container .left .user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .left  .user span {
    color: #000;
    cursor: pointer;
}

.container .left .user h2 {
    font-size: 18px;
    line-height: 18px;
    margin-left: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.container .left .user h2 span {
    color: #999;
    font-size: 0.8em;
}

.container .left .user .arrow {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #999;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.container .left .user .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #999;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: none;
}

.container .right .canscroll .task-table {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
}

.container .right .canscroll .task-table .title-table{
    display: flex;
    gap: 750px;
}

.container .right .canscroll .task-table .title-table h2{
    font-size: 20px;
}

.container .right .canscroll .task-table .table {
    margin-top: 15px;
    border: 1px solid lightgray ;
    border-radius:6px;
    width: 100%;
}

.container .right .canscroll .task-table .title-table a {
    display: inline-block; 
    width: 150px;
    height: 30px;
    line-height: 30px; 
    text-align: center; 
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    background-color: #8cd895;
    color: #00550a;
    font-size: 16px;
    text-decoration: none;
}

.container .right .canscroll .task-table .table th{
    background-color: #6577ff;
    color: black;
    font-weight: 500;
}
.container .right .canscroll .task-table .table th, td {
padding: 10px 8px;
text-align: center;
}

.container .right .canscroll .task-table tr:nth-child(odd) {
background-color: #DFE3FA;;
}

.container .right .canscroll .task-table .table tr:hover {
background-color: #DFE3FA;
}

.container .right .canscroll .task-table .grup-action-btn{
display: flex;
gap: 15px;
justify-content: center;
}

.container .right .canscroll .task-table .grup-action-btn button{
width: auto;
height: 30px;
padding: 0px 10px;
border: none;
border: 5px;
border-radius: 5px;
}

.container .right .canscroll .task-table .edit-btn{
background-color: #ffd900;
color: black;
}

.container .right .canscroll .task-table .delete-btn{
background-color: #ff3c00;
color: white;
}

.container .right .canscroll main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.logout {
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 50px;
    background-color: #DFE3FA;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.logout .material-symbols-outlined {
    margin-left: 20px;
    color: #000;
}

.logout:hover {
    background-color: #6577ff;
}


/* Responsive */
@media (max-width: 1176px) {
    .container .left {
        position: absolute;
        left: -300px;
        height: calc(100% - 5vh);
        z-index: 11;
        box-shadow: none;
        transition: .5s ease;
    }

    .container .left.active {
        left: 20px;
    }

    .container .right.overlay::before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: 20px;
    }

    .container .right .top .user .toggle {
        display: block;
    }
}

@media (max-width: 927px) {
    .container {
        height: 100%;
        margin: 30px 0;
    }

    .container .left.active {
        width: calc(100% - 40px);
        height: calc(100vh - 55px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .container .left header .logo .close {
        display: block;
    }

    .container .right .canscroll main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1.4fr 1.4fr 1.6fr 1.3fr 1fr 1.3fr;
    }

    .container .right .canscroll main * {
        grid-row: unset !important;
        grid-column: unset !important;
    }

    .container .right .top .searchBx h2 {
        font-size: 1.2em;
    }

    .container .right .top .searchBx .inputBx {
        width: 45px;
        cursor: pointer;
    }

    .container .right .top .searchBx.active {
        position: absolute;
        width: calc(100% - 40px);
        height: 45px;
        background: #f8f2fe;
        z-index: 10;
        border-radius: 10px;
    }

    .container .right .top .searchBx.active h2 {
        display: none;
    }

    .container .right .top .searchBx.active .inputBx {
        width: 100%;
    }

    .container .right .top .searchBx.active .inputBx input {
        padding-right: 40px;
    }

    .container .right .top .searchBx.active .inputBx span.searchClose {
        display: block;
    }

    .container .right .top .user {
        gap: 10px;
    }
}

@media (max-width: 586px) {
    .container .right .top .user .arrow {
        display: none;
    }

    .container .right .top .user h2 {
        display: none;
    }
}