* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dubai;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black, #a8afff);
}

.container h1 {
    margin-top: 10px;
    color: white;
}

.container {
    position: relative;
    width: 750px;
    height: 550px;
    background: rgba(255, 255, 255, .2);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1),
        0 0 10px rgba(0, 0, 0, .2),
        0 0 15px rgba(0, 0, 0, .2);
    
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.form {
    margin-left: -270px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.form-control {
	/* margin-bottom: 5px; */
	padding-bottom: 5px;
	position: relative;
}

.form-control label {
	color: #fff;
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.form-control input {
	background: white;
    opacity: calc(50%);
	border: 0;
	border-bottom: 1px solid #f0f0f0;
	display: block;
	width: 200%;
	padding: 10px 5px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;
}

.form button {
	cursor: pointer;
	background-color: #6577ff;
	border: 2px solid #ffffff;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	width: 200%;
    font-weight: 500;
}